
a {
  text-decoration: none;
  color: black;
}
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: white;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}


/* ====dark-theme==== */
.dark-theme{
  --hue-color: 224;
  --first-color: hsl(0, 100%, 50%);
  --second-color: hsl(0, 0%, 100%);
  --bg-color:rgb(0, 0, 0);
}

#icon{
  width: 25px;
  cursor: pointer;
}
/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  /*===== Colores =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 224;
  --first-color: hsl(0, 100%, 50%);
  --second-color: hsl(0, 0%, 0%);
  --bg-color:rgb(255, 255, 255);
  /*===== FONTS =====*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  /*===== Margins =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

#img{
  border-radius: 50%;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  background-color: white;
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  justify-content: space-around;
}

/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 95%;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: white;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: white;
    transition: 0.5s;
  }
}
.nav__item {
  margin-bottom: var(--mb-4);
}
.nav__link {
  position: relative;
  color: var(--second-color);
}
.nav__link:hover {
  position: relative;
}
.nav__link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}
.nav__logo {
  color: var(--second-color);
}
.nav__toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*===== HOME =====*/
.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
}
.home__title {
  font-size: var(--big-font-size);
}
.home__title_small {
  font-size: 0.938rem;
  margin: 0;
}

.home__title-color {
  color: hsl(0, 100%, 50%);
} 
.paragraph {
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  padding-top: 8%;
  margin-bottom: var(--mb-4);
  display: inline-block;
}

.paragraph-a {
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  padding-top: 8%;
  margin-bottom: var(--mb-4);
  display: flex;
  align-items: flex-start;
}

.l-head {
  font-size: 0.7rem;
  position: relative;
  font-weight: var(--font-semi);
  display: inline;
}

.paragraph li{
  font-size: 1.2rem;
  margin: 2px;
  color: black;
  display: block;
}

.paragraphD {
  font-size: 0.8rem;
  font-weight: var(--font-semi);
  padding-top: 8%;
}

.paragraphD form {
  font-size: 0.8rem;
  font-weight: var(--font-semi);
  padding: 2%;
  display: inline-block;
  border: 1px solid black;
  border-radius: 15px;
  margin-bottom: 10px;
}

.paragraphD ul li{
  list-style: disc;
  font-size: 0.8rem;
  margin: 2px;
  color: black;
  display: block;
}

.paragraphD ol li{
  font-size: 0.8rem;
  margin: 2px;
  color: black;
  display: block;
}

.paragraph-a li{
  font-size: 0.8rem;
  color: black;
  display: block;
}

/* ===== CONTACT =====*/
.contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}
.contact__button {
  border: 1px white solid;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px;
  width: 80%;
  font-weight: 600;
  background-color: hsla(0, 100%, 50%,0.73); ;
}
.contact__button:hover {
  border: 1px white solid;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px;
  width: 79.5%;
  font-weight: 600;
  background-color: hsla(0, 100%, 50%, 0.519); ;
}

.contact__form {
  width: 100%;
  padding-top: 2rem;
}

/* ===== FOOTER =====*/
.footer {
  background-color: white;
  color: var(--second-color);
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}
.footer__social {
  margin-bottom: var(--mb-4);
}
.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}
.footer__copy {
  font-size: var(--smaller-font-size);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem;
  }
  .home__img {
    width: 200px;
  }
}
@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
  }
  .home__img {
    width: 300px;
    bottom: 25%;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .contact__form {
    width: 100%;
    padding-top: 2rem;
    left:32%;
  }
  .adopt__form {
    width: 35%;
    padding-top: 2rem;
  }
  .contact__container {
    justify-items: center;
  }
}
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--second-color);
  }
  .home {
    padding: 8rem 0 2rem;
  }
  .home__img {
    width: 400px;
    bottom: 10%;
  }
}
@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 10rem 0 2rem;
  }
  .home__img {
    width: 450px;
  }
}

/* ====Pre-phase 1 CSS===== */

/* ====BASE==== */
html.sr .load-hidden {
  visibility: hidden;
}

body{
  margin-bottom: 800px;
}

nav ul {
  top: 50%;
  padding: 10px;
  text-align: center absolute;
  list-style: armenian;
  margin: 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

@media screen and (max-width:768px) {
  nav ul {
    top: 50%;
    padding: 10px;
    text-align: center absolute;
    list-style: armenian;
    margin: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
}

footer {
  font-size: 24px;
  padding: 50px;
  position: absolute;
  bottom: 0;
}

li {
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
  cursor: pointer;
  font-size: 0.75rem;
  color: rgb(0, 0, 0);
}

li:hover {
  color: black;
}

/* ====classes==== */
.process{
  display: inline-flex;
  width: 30%;
  height: 50%;
  margin-left:100px;
}

input[type="file"] {
  position: relative;
  width: 100%;
}

input[type="file"]::file-selector-button {
  width: 136px;
  color: transparent;
}

/* Faked label styles and icon */
input[type="file"]::before {
  position: absolute;
  pointer-events: none;
  top: 10px;
  left: 16px;
  height: 20px;
  width: 20px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

input[type="file"]::after {
  position: absolute;
  pointer-events: none;
  top: 11px;
  left: 40px;
  color: #0964b0;
  content: "Upload File";
}

/* ------- From Step 1 ------- */

/* file upload button */
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

.center{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.head {
  font-size: 60px;
  padding-top: 8%;
  top: 0;
  color: black;
}

.l-head{
  font-size: 28px;
}

.document_itema{
  display: block;
}

.document_item{
  display: block;
}
.adopt__form{
  position: absolute;
  left: 32%;
  margin-bottom: 20px;
}

/* ====RESPONSIVE UI==== */
@media screen and (min-width: 968px) {
  #veda{
      align-items: right;
      position: absolute;
      margin-left: 50%;
  }
  nav ul li {
      display: inline-block;
      margin: 2px;
      cursor: pointer;
      font-size: 115%;
      color: white;
  }

  .paragraphD ul li{
    font-size: 0.8rem;
    margin: 2px;
    color: black;
    display: block;
  }

  .paragraphD ol li{
    font-size: 0.8rem;
    margin: 2px;
    color: black;
    display: block;
  }
}

@media screen and (max-width: 300px) {
  #veda{
      align-items: right;
      position: absolute;
      margin-left: 20%;
  }
}

/* ====ID==== */
#h-t-img {
  width: 450px;
  height: 300px;
  margin: 20px;
}

#float-rt {
  float: right;
}

#mofA {
  font-size: 180%
}

#veda{
  align-items: right;
  position: absolute;
  margin-left: 25%;
}

#additional{
  font-size: 1rem;
}